h1
    color: $color-accent
.projects--grid
    @include media-breakpoint-up(desktop)
        grid-template-columns: repeat(3, 1fr)
    .project
        .media
            img
                aspect-ratio: 1
.projects__page
    .hero
        .container
            .content
                @include media-breakpoint-up(desktop)
                    .hero-text
                        width: columns(8)
                    figure
                        width: columns(4)
                .project-infos
                    .year
                        display: none